.paper {
    padding: 0.5em 0.5em 1em 1em;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    min-height: 400px;
    flex-direction: column;
    justify-content: space-between;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            margin-top: 0.5em;
            width: 42px;
            //margin-bottom: 1em;
        }
        a {
            margin-top: 0.5em;
            margin-left: 1em;
            margin-right: auto;
            text-decoration: none;
            border: 1px solid rgba(0, 0, 0, 0.8);
            color: rgba(0, 0, 0, 0.7);
            border-radius: 6px;
            padding: 0.5em;

            &:hover {
                background: rgba(0, 0, 0, 0.05);
            }
        }
    }
    .content {
        h1 {
            font-size: 1.4em;
        }
    }
    .footer {
        margin-top: auto;
    }
}
