.container {
    width: 300px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.draggableAction {
    flex-grow: 1;
    background-color: green;
    margin-bottom: 10px;
    display: flex;
}

.handle {
    margin: 1em;
}

.controls {
    display: flex;
    background-color: purple;
    justify-content: space-evenly;
}
